$fontSizes: (
    1: 2rem,
    2: 1.8rem,
    3: 1.6rem,
    4: 1.4rem,
    5: 1.2rem,
    6: 1rem
);

$newFontSizes: (
);

@for $i from 7 through 12 {
    $newKey: $i;
    $baseSize: map-get($fontSizes, 6); // dimensioni Bootstrap 
    $decrement: (
        7 - $i) * -0.1rem; // incremento negativo 
    $newValue: $baseSize - $decrement;
    $newFontSizes: map-merge($newFontSizes, ($newKey: $newValue)
    );
}

// Output nuove dimensioni font
@each $key, $value in $newFontSizes {
    .fs-#{$key} {
        font-size: $value;
    }
}